[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
elasticsearch-dsl = "<6.0.0,>=5.0.0"
python-dotenv = "*"
scrapy = "==2.6.2"
click = "*"
requests = "*"
scrapyelasticsearch = "*"

[requires]
python_version = "3.7"
